<h1 style="color:blue;">Listing articles</h1>

<hr />
<%= link_to 'Create new article', new_article_path %>
now
<hr />

<table class="table table-hover table-bordered">
	<tr>
		<th>Title</th>
		<th>Text</th>
		<th>Created By</th>
		<th>Action</th>
		<th>Last Updated</th>
	</tr>

	<% @articles.each do |article| %>
		<tr>
			<td><%= article.title %></td>
			<td><%= article.text %></td>
			<td><%= User.find_by(id: article.user_id).email  %></td>
			<td style="width: 196px;" >
				<center>
					<%= link_to 'Show', article_path(article), :class => "btn btn-primary" %>
						<% if user_signed_in? %>
							<% if (article.user_id == current_user.id) %>
								<%= link_to 'Edit', edit_article_path(article), :class => "btn btn-success" %>
								<%= link_to 'Destroy', article_path(article), method: :delete, 
										data: { confirm: 'Are you sure?'}, :class => "btn btn-danger"%> 
							<% end %>
						<% end %>
				</center>
			</td>
			<td><%= article.updated_at %></td>
		</tr>
	<% end %>

</table>

<hr />
	To back to home page,
	<%= link_to 'click here', root_url, :class  => "text-primary" %>
<hr />
