<h1>
	Article #<%= @article.id %> <small><em>Created by : <%= User.find_by(id: @article.user_id).email %></em></small>
</h1>

<p>
	<font size="4">
		<strong>Article Title :</strong>
		<%= @article.title %>
	</font>
</p>

<p>
	<font size="2">
		<strong>Article Content : </strong>
		<%= @article.text %>
	</font>
</p>

<p>
	<strong>Attachment :</strong>	
	<%= image_tag @article.avatar.url(:thumb) %>
</p>

<hr/>

<h2 style="color:green;">Comments</h2>
<%= render @article.comments %>
 
<hr /><hr />
 
<h2 style="color:blue;">Add a comment :</h2>
<%= render "comments/form" %>

<hr />
	To back to article list,
	<%= link_to 'click here', articles_path, :class  => "text-primary"  %>
<hr />
